@import './header.component.scss';
@import './recipes.component.scss';
@import './recipe-list.component.scss';
@import './recipe-detail.component.scss';
@import './shopping-edit.component.scss';
@import './shopping-list.component.scss';

.cool {
  background-color: yellow;
  margin-top: 20%;
  text-align: center;
}
